asgiref==3.2.10
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.2
defusedxml==0.6.0
dj-database-url==0.4.2
Django==3.1.2
django-debug-toolbar==1.8
django-rename-app==0.1.2
gunicorn==19.7.1
idna==2.10
include==0.2.2
oauthlib==3.1.0
path==15.0.0
Pillow==7.2.0
pycparser==2.20
PyJWT==1.7.1
python3-openid==3.2.0
pytz==2017.2
requests==2.24.0
requests-oauthlib==1.3.0
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sqlparse==0.2.3
urllib3==1.25.10
