{% extends "base.html" %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <div class="row wow fadeIn">
        <div class="col-md-6 mb-4">
          <img src="{{ object.image.url }}" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 mb-4">
          <div class="p-4">
            <div class="mb-3">
                <span class="badge purple mr-1" style="font-size: 15  0%">{{ object.name }}</span>
            </div>
            <p class="lead">
              <span>{{ object.timetables }}</span>
            </p>
            <p class="lead font-weight-bold">{{ object.country }}</p>
            <p>{{ object.address }}</p>
            <p>{{ object.number }}</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row d-flex justify-content-center wow fadeIn">
        <div class="col-md-6 text-center">
          <h4 class="my-4 h4">Additional information</h4>
          <p>{{ object.description }}</p>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
